<div>
    <div id="stage" style="background-color:cc0;">
        STAGE
    </div>

    <input type="button" id="driver" value="Load Data" />
</div>

@section Scripts {
    <script src="~/js/sandbox/test1.js"></script>
}
