@model SearchDataVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Search best recipes</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">

                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <input placeholder="Search" asp-for="Text" class="form-control" />
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-sm-12">
                                <select id="productSelect" data-placeholder="Products" multiple="multiple" data-multi-select></select>
                            </div>
                        </div>

                        <table id="recipeTblData" 
                            data-authenticated="@User.Identity.IsAuthenticated" 
                            area="customer" 
                            paging="false" 
                            searching="false" 
                            class="table table-bordered table-striped" 
                            style="width:100%">

                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>User</th>
                                    <th>Products</th>
                                    <th></th>                       
                                </tr>
                            </thead>
                        </table>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        <script src="~/js/recipe.js"></script>
    }

    <script type="text/javascript">
        $.ajax({
            url: '/customer/home/getAllProducts',
            type: 'GET',
            success: function (data) {
                const selectedProductIds = @Html.Raw(Json.Serialize(Model.SelectedProductsIds));

                new MultiSelect(document.getElementById('productSelect'), {
                    data: data.data.map(el => ({
                        value: el.id,
                        text: el.name,
                        selected: selectedProductIds.includes(el.id)
                    })),
                    placeholder: 'Select options',
                    search: true,
                    onChange: function (productId, text, element) {

                    },
                    onSelect: function (productId, text, element) {
                        addProduct(productId);
                    },
                    onUnselect: function (productId, text, element) {
                        removeProduct(productId);
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error("An error occurred: " + status + " " + error);
            }
        });

        function addProduct(productId) {
            $.ajax({
                url: '@Url.Action("AddProduct", "Home")',
                type: 'POST',
                data: { productId: productId },
                success: function (response) { },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + status + " " + error);
                }
            });
        }

        function removeProduct(productId) {
            $.ajax({
                url: '@Url.Action("RemoveProduct", "Home")',
                type: 'POST',
                data: { productId: productId },
                success: function (response) { },
                error: function (xhr, status, error) {
                    console.error("An error occurred: " + status + " " + error);
                }
            });
        }
    </script>
}
